.emoji-picker-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    margin-inline-start: auto;
    padding-bottom: 5px;
    padding-right: 10px;
}

.search-bar input {
    width: 100px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #524f4f; 
    z-index: 1000;
}

.category-btn {
    margin: 2px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.emoji-picker {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: #ececec;
    border-radius: 8px; 
    padding: 15px; 
    width: 300px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    overflow-y: auto; 
    z-index: 3000;
}

.emoji-btn {
    width: 30px;
    height: 30px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

.emoji-btn:hover {
    background-color: #f0f0f0; 
}
